img {
    height: auto;
    width: 500px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1 {
    text-align: center;
    font-size: 42px;
    font-family: "Times New Roman", Verdana, sans-serif;
}

ul li {
    text-align: center;
    font-size: 21px;
    font-family: "Times New Roman", Verdana, sans serif;
    list-style: none
}